{{define "title"}}Home{{end}}
{{define "main"}}
<div class="mainConteiner">
    
    <h2>Latest Posts</h2>
    <div class="mainContentConteiner">
        {{if .Posts}}
        <div class="mainPostsListConteiner">
            <div class="postListHeader">
                <div class="postsListTitles">Title</div>
                <div class="postsListCreatedDate">Created</div>
                <div class="postsListIDCount">Likes</div>
            </div>
            
            <div class="postListContentConteiner">
                {{range .Posts}}
                <!-- <img src="./test.jpg" alt="WHY?"> -->
                <a href='/post/view?id={{.ID}}' title="{{.Content}}">
                    <div class="postListContent">
                   
                        <img class="homeImg" src="{{.Image}}" alt="why?"/>
                        
                        <div class="postListContentTitle shortText">{{.Title}}</div>
                        <!-- Для эффекта циличной бегущей строки  -->
                        <!-- <div class="postListContentTitle shortTextRight">{{.Title}}</div> -->
                        <div class="postListContentCreatedDate">{{humanDate .Created}}</div>
                        <div class="postListContentID">
                            {{if ge .Likes 0}}
                            <div class="iconHomeButton">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                                </svg>
                            </div>
                            <div class="postListContentId">{{.Likes}}</div>
                            {{else}}
                            <div class="iconHomeButton">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                                </svg>
                            </div>
                            <div class="postListContentId">0</div>
                            {{end}}
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </div>
        
        <form method="POST" action="/" class="categoryForm">
            <div class="formHeader">Select a category:</div>
            <div class="categoryConteiner" id="categoryConteiner">
                <!-- <label for="category">Select Category:</label> -->
                <div class="categoryConteinerItem" for="checkbox1">
                <input type='checkbox' name='category' value='Counter-Strike 2' id="checkbox1"> 
                Counter-Strike 2
                </div>
            
                <div class="categoryConteinerItem" for="checkbox2">
                <input type='checkbox' name='category' value='Dota 2'id="checkbox2"> 
                Dota 2 
                </div>

                <div class="categoryConteinerItem" for="checkbox3">
                <input type='checkbox' name='category' value='Valorant'id="checkbox3"> 
                Valorant 
                </div>
            
                <div class="categoryConteinerItem" for="checkbox4">
                <input type='checkbox' name='category' value='Overwatch 2'id="checkbox4"> 
                Overwatch 2 
                </div>

                <div class="categoryConteinerItem" for="checkbox5">
                    <input type='checkbox' name='category' value='Other'id="checkbox5"> 
                    Other 
                </div>
            </div>
            <div class="buttonConteiner">
                <button type="submit" class="filterButton">
                    <img src="/static/img/searchbox_workshop_submit.gif">
                    Search
                </button>
            </div>
        </form>
        {{else}}
    </div>
        
    <div class="noResults">
        <img src="static/img/modcheck.gif" alt="NO RESULT">
        <p>There's nothing to see here... yet!</p>
        <a href="/">Go Back</a>
    </div>
    {{end}}

{{end}}
</div>

